@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer components {
  .no-scrollbar::-webkit-scrollbar{
    @apply hidden
  }
  .light-scrollbar::-webkit-scrollbar{
    @apply w-2.5 rounded-full bg-gray-200
  }
  .thumb-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-3xl
  }
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  @apply bg-range-vector-icon bg-no-repeat bg-contain;
}